build
.*.sw[po]
.sw[po]
*~
*.pyc
*.pyo
*.egg-info
MANIFEST
dist
setuptools*egg
setuptools.pth
distribute*egg
distribute*tar.gz
*.log
*profiler.conf
core
.coverage
htmlcov
.ipynb_checkpoints
lextab.py
yacctab.py
.pytest_cache/*

.cache
.env
virtualenv-[0-9]*[0-9]

*.so

.asv

# Files used by run-pylint.sh
.pylintrc.yml
.run-pylint.py
