include test/*.py
include test/*.f90
recursive-include examples *.py *.cl *.floopy *.sh *.ipynb *.cpp *.loopy
recursive-include contrib *.vim *.py

include build-helpers/*.sh
include build-helpers/*.spec

include doc/*.rst
include doc/Makefile
include doc/*.py
include doc/images/*.png
include doc/_static/*.css
include doc/_templates/*.html
include doc/images/*.svg
include doc/images/*.png

include configure.py
include Makefile.in
include README.rst
include LICENSE
include CITATION.cff
include requirements*.txt
