include test/*.py
include examples/*.py

include doc/*.rst
include doc/Makefile
include doc/*.py
include doc/images/*.png
include doc/_static/*.css
include doc/_templates/*.html

include configure.py
include Makefile.in
include README.rst
