git+git://github.com/inducer/pytools
git+git://github.com/inducer/islpy
git+git://github.com/inducer/cgen
pyopencl==2015.1
git+git://github.com/inducer/pymbolic

hg+https://bitbucket.org/inducer/f2py

# Optional, needed for using the C preprocessor on Fortran
ply>=3.6
