git+https://github.com/inducer/pytools.git#egg=pytools
git+https://github.com/inducer/islpy.gitt#egg=islpy
git+https://github.com/inducer/cgen.gitt#egg=cgen
git+https://github.com/inducer/pyopencl.gitt#egg=pyopencl
git+https://github.com/inducer/pymbolic.git#egg=pymbolic
git+https://github.com/inducer/genpy.git#egg=genpy
git+https://github.com/inducer/codepy.git#egg=codepy

git+https://github.com/inducer/f2py

# Optional, needed for using the C preprocessor on Fortran
ply>=3.6
