git+https://github.com/inducer/pytools.git
git+https://github.com/inducer/islpy.git
git+https://github.com/inducer/cgen.git
pyopencl==2015.1
git+https://github.com/inducer/pymbolic.git
git+https://github.com/inducer/genpy.git

hg+https://bitbucket.org/inducer/f2py

# Optional, needed for using the C preprocessor on Fortran
ply>=3.6
